{%extends 'base.html'%}

{%block content%}
<div class="about">
    <h1>{{title}}</h1>
    <p>
        <span class="highlight">
                {{text}}
            <br>
            <br>
                In this world, is thedestiny of mankind controlled by some transcendental entity or law?
                Is it like the hand of God hovering above?
                At least it is true that man has no control; even over his own will.
            <br>
        </span>
    </p>

    <p>Why was this site written?</p>
    <ul class="about-ul">
        <li>That's my first django project</li>
        <li>This site was written by plagiat selfedu</li>
        <li>I'm learning by creating this site</li>
        <li>I want to become a good IT specialist</li>
    </ul>
</div>
{%endblock%}